<% credits = 0 %>
<% debits = 0%>
<% @transactions.each do |transaction| %>
  <% credits += transaction.amount if transaction.debit_or_credit == "Credit" %>
  <% debits += transaction.amount if transaction.debit_or_credit == "Debit" %>
<% end %>

<% if (credits - debits) < 0 %>
  <p id="warning">What are you thinking?!?! You can't have a negative balance! Make a deposit!!! RIGHT NOW!</p>
<% end %>

<h1>Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Total Amount Of Money In Your Account: </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% if (credits - debits) < 0 %>
        <td><font color=red>$<%= credits - debits %><font></td>
      <% else %>
        <td><font color=green>$<%= credits - debits %></font></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Total Number Of Transactions: </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @transactions.size %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'List Of Transactions', transactions_path %><br>
<%= link_to 'New Transaction', new_transaction_path %>
