<% if @balance < 0 %>
  <p id="warning">What are you thinking?!?! You can't have a negative balance! Make a deposit!!! RIGHT NOW!</p>
<% end %>

<h1>Dashboard</h1>

<p>
  <strong>Total Amount Of Money In Your Account: </strong>
    <% if @balance < 0 %>
      <font color=red><%= number_to_currency(@balance) %><font>
    <% else %>
      <font color=green><%= number_to_currency(@balance) %></font>
    <% end %>
</p>

<p>
  <strong>Total Number Of Transactions: </strong>
  <%= @transactions.size %>
</p>

<p>
  <strong>Total Amount Spent Current Month: </strong>
  <%= number_to_currency(@total_current_month) %>
</p>

<br>

<%= link_to 'List Of Transactions', transactions_path %><br>
<%= link_to 'New Transaction', new_transaction_path %>
